body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    position: relative;
    height: 860px;
    width: 780px;
    background-color: #F5F5F5;
    font-family:'Times New Roman', serif 
}

.small-box {
    background-color: white;
    padding: 20px 5px;
    margin: 15px -1px;
}

.small-box div:first-child {
    margin-bottom: 30px;
}

.big-box {
    height: 310px;
    width: 180px;
    position: absolute;
    border: 5px solid white;
    font-weight: 800;
}

.big-box:nth-child(2){
    top:115px;
    left:200px;
    background-color: tomato;
}

.big-box:nth-child(3) {
    top:115px;
    left:400px;
    background-color: teal;
}

.big-box:nth-child(4) {
    top: 440px;
    left: 200px;
    background-color: burlywood;
}

.big-box:last-child {
    top: 440px;
    left: 400px;
    background-color: thistle;
}