body {
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewport {
    overflow: auto;
    height: 1000vh;
    margin: 0px 50px;
    margin-top: 50px;
    height: 812px;
    width: 375px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #141414;
    border-radius: 30px;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.loading-animation {
    margin-top: 50px;
    height: 812px;
    width: 375px;
    border: none;
    background-color: #141414;
    border-radius: 30px;
    position: absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 2s;
}

.viewport__home {
    background-color: white;
}

.viewport::-webkit-scrollbar {
   width: 0px;
}
