.bookOfTheDay {
    margin-bottom: 30px;
}

.bookOfTheDay__img-box {
    height: 160px;
    width: 110px;
    margin-right: 15px;
    border: none;
    border-radius: 20px;
    background-color: lightseagreen;
}

.bookOfTheDay__text-box__title {
    font-weight: 600;
}

.bookOfTheDay__text-box__text {
    font-size: 13px;
    color: lightgray;
    display: flex;
    padding-bottom: 10px;
}
.bookOfTheDay__star-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.bookOfTheDay__button {
    padding: 5px 10px;
    border: none;
    margin-right: 5px;
}

.bookOfTheDay__buttons {
    margin-bottom: 20px;
}

.bookOfTheDay__bookmark-bar {
    display: flex;
}

.bookOfTheDay__book-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 12px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffce33;
    margin-right: 40px;
}

.bookOfTheDay__book-mark__button {
    background-color: #0d0d0d;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
}
